.cell-id {
	width: 55px;
}

.cell-rank {
	width: 40px;
	text-align: center;
}

.cell-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.cell-username {
	width: 150px;
}

.cell-mail {
	width: 250px;
}

.cell-joined {
	width: 125px;
}

th.cell-options {
	width: 100px;
	text-align: center;
}

td.cell-options {
	width: 84px;
	text-align: center;
}

input#randomizer {
   float: left;
   margin: 0 5px 0 0;
}